# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Data Version Control (DVC) cache
.dvc/

# Python wheel files
*.whl

# PyInstaller
*.spec

# pytest
.cache/
*.log

mlruns/

/data/diabetes-dataset.csv